<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-body text-center">
    <h1>Converter</h1>
    <hr>
    <div class="row">
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Basic rate</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Target rate</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>
  </div>
</div>
