<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Current exchange', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Converter', converters_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
